<!DOCTYPE html>
<html>
    <head>
        <title>Calculator</title>
    </head>
    <body>
        <!-- Your HTML code goes here! -->

        <form action="/calculator_results" method="GET">
            <label>Number 1</label>
            <input type="text" name="operand1">
            <label>Number 2</label>
            <input type="text" name="operand2">
            <label> Operation</label>
            <select name="operation">
            <option>Addition</option>
            <option>Subtraction</option>
            <option>Multiplication</option>
            <option>Division</option>
                </select>
            <button type="submit" name="submit">Submit</button>
            </form>



        
    </body>
</html>